.custom-center-text {
    text-align: center;
}

.custom-transparent-form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    padding: var(--lwc-varSpacingMedium, spacingMedium);
}

.custom-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-modal-box {
    max-height: 70vh;
    overflow-y: auto;
}

.custom-form-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-form-button {
    margin-top: var(--lwc-varSpacingVerticalMedium, spacingMedium);
}

.custom-label {
    font-size: 24px; 
    font-weight: bold; 
    color: #0070d2; 
    margin-bottom: 10px;
}